<div class="row">
  <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Detalle de ingreso egreso</h4>

          <table class="table">
            <thead>
              <tr>
                <th>Descripción</th>
                <th style="text-align: right;">Monto</th>
                <th style="text-align: center;">Tipo</th>
                <th style="text-align: center;">Acción</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let item of ingresosEgresos">
                <td>{{ item.descripcion }}</td>
                <td style="text-align: right;">{{ item.monto | currency}}</td>
                <td style="text-align: center;font-weight: bold;"
                    [class.text-success]=" item.tipo === 'ingreso'"
                    [class.text-danger]=" item.tipo === 'egreso'">
                    {{ item.tipo }}</td>
                <td style="text-align: center;">
                  <button type="button" class="btn btn-danger"
                          (click)="borrar(item.uid)">
                    <i class="fa fa-trash"></i>
                    Borrar
                  </button>
                </td>
              </tr>
            </tbody>

          </table>


        </div>
      </div>
  </div>
</div>
